# frozen_string_literal: true

require 'spec_helper'

RSpec.describe <%= name %>::Services::<%= options.service %> do
<% if options.include_dry? -%>
  include Dry::Monads::Result::Mixin
<% end -%>

  pending "add some examples to (or delete) #{__FILE__}"
end
